.query-image {
  background-image: url("../../images/random.jpg");
}

.query-box .query-box-type {
  padding: 20px;
}

.query-box .query-box-submit {
  text-align: center;
  padding: 20px;
  width: 100%;
}

.query-box .query-box-type .query-input {
  width: 98%;
  min-height: 50px;
  max-height: 200px;
  min-width: 98%;
  max-width: 98%;
  font-size: 15px;
}

.query-box .query-box-submit .query-submit-button {
  background-color: #303030;
  color: whitesmoke;
}
.query-box .query-box-submit .query-clear-button {
  background-color: slategray;
  color: whitesmoke;
}

@media only screen and (min-width: 960px) {
  .query-box .query-box-submit .query-button {
    margin: 20px;
    width: 40%;
  }
}

@media only screen and (max-width: 960px) {
  .query-box .query-box-submit .query-button {
    width: 40%;
    margin: 5px;
  }
}

#results-button {
  background-color: #303030;
  color: whitesmoke;
  margin: 20px;
}

#query-modal-content {
  outline: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  height: 400px;
  background-color: white;
  transition: 0.3s;
  border-radius: 30px;
}
@media only screen and (min-width: 600px) {
  #query-modal-content {
    width: 400px;
    transition: 0.3s;
  }
}

@media only screen and (max-width: 600px) {
  #query-modal-content {
    width: 80%;
    transition: 0.3s;
  }
}

#modal-title {
  padding: 20px;
  background-color: #303030;
  color: whitesmoke;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#simple-modal-description {
  padding: 20px;
}

#simple-modal-header {
  padding: 20px;
  text-align: center;
}

#simple-modal-error {
  width: 100%;
  text-align: center;
  color: red;
}

#modal-button-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: lightgrey;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#modification-page-button {
  margin: 10px;
  background-color: #303030;
  color: whitesmoke;
}

#close-button {
  margin: 10px;
  background-color: slategray;
  color: whitesmoke;
}
