.bartender-image {
  background-image: url("../../images/bartender.jpg");
}

@media only screen and (max-width: 400px) {
  #selected-bartender-container {
    margin: 0;
    transition: 0.3s;
  }
}

#selected-bartender-container .head-row {
  background-color: #303030;
}
#selected-bartender-container .left-row {
  border-top-left-radius: 5px;
}
#selected-bartender-container .right-row {
  border-top-right-radius: 5px;
}

#selected-bartender-container .clear-button-selected-bartender {
  height: 10px;
  width: 10px;
  margin-left: 10px;
  text-align: center;
}

#selected-bartender-container .close-button-selected-bartender {
  font-size: 15px;
  margin-top: -7px;
  margin-left: 1px;
}

#bartender-container .selected-bartender {
  font-size: 12;
  margin: 20px;
}

@media only screen and (max-width: 600px) {
  #bartender-container .selected-bartender {
    margin-bottom: -20px;
  }
}

#info-row:hover {
  cursor: pointer;
  background-color: lightgray;
}

#table-container .selected {
  background: lightgray;
}

#selected-bartender-container {
  margin: 20px;
  transition: 0.3s;
}

#selected-bartender-container .clear-button-selected-bartender {
  height: 10px;
  width: 10px;
  margin-left: 10px;
  text-align: center;
}

#selected-bartender-container .close-button-selected-bartender {
  font-size: 15px;
  margin-top: -7px;
  margin-left: 1px;
}

#table-grid .search-box {
  margin-top: 20px;
  margin-left: 20px;
  width: 100%;
  color: black;
}

#table-grid .clear-button-searched-bartender {
  height: 10px;
  width: 10px;
  margin-top: 40px;
  margin-left: 40px;
  text-align: center;
}
#table-grid .close-button-searched-bartender {
  font-size: 15px;
  margin-top: -7px;
  margin-left: 1px;
}
#graph-section .grouped-by-bartender-text {
  text-align: center;
  margin: 40px;
  font-size: 40px;
}

@media only screen and (max-width: 600px) {
  #hidden-when-small {
    display: none !important;
  }

  #bartender-container .selected-bartender {
    margin-bottom: -20px;
  }

  #table-grid .search-box {
    margin-bottom: 20px;
    margin-top: -15px;
  }

  #table-grid .clear-button-searched-bartender {
    margin-bottom: 20px;
    margin-top: 0;
    margin-left: 30px;
  }
  #table-grid .close-button-searched-bartender {
    margin-bottom: 20px;
    margin-top: -6px;
  }
  #graph-section .grouped-by-bartender-text {
    font-size: 20px;
  }
}

@media only screen and (max-width: 900px) {
  #graph-section .grouped-by-bartender-text {
    font-size: 30px;
  }
}

@media only screen and (max-width: 400px) {
  #selected-bartender-container {
    margin: 0 0 20px 0;
    transition: 0.3s;
  }
  #bartender-container .bar {
    margin-top: 30px;
  }
}

#selected-bartender-container .head-row {
  background-color: #303030;
}
#selected-bartender-container .left-row {
  border-top-left-radius: 5px;
}
#selected-bartender-container .right-row {
  border-top-right-radius: 5px;
}
#chart-button {
  margin: 10px 10px 10px 10px;
  background-color: lightgray;
}
#chart-button-clear {
  margin: 10px 10px 10px 10px;
  background-color: lightgray;
}
