.title-buttons {
  text-align: center;
}

.title-buttons .title-button {
  font-size: 2vw;
  color: White;
  margin: 20px;
  margin-top: 35px;
  background-color: #303030;
  border: 1px solid slategray;
}
.title-buttons .title-button:hover {
  background-color: white;
  color: #303030;
}

@media only screen and (min-width: 600px) {
  .landing-image {
    background-image: url("../../images/homepage.jpg");
  }
  .title-buttons .title-button {
    font-size: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .landing-image {
    background-image: url("../../images/homepagesmall.jpg");
  }
  .title-buttons .title-button {
    font-size: 15px;
  }
}

@media only screen and (max-height: 300px) {
  .title-buttons {
    display: none;
  }
}
