#small-page {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
  min-height: 200px;
}
#large-page {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.small-layer {
  background-color: rgba(7, 7, 7, 0.6);
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 40vh;
  min-height: 200px;
}

.large-layer {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#small-title {
  z-index: 1;
  position: absolute;
  bottom: 50%;
  text-align: center;
  width: 100%;
}

#large-title {
  z-index: 1;
  position: absolute;
  bottom: 40%;
  text-align: center;
  width: 100%;
}

#small-title .small-title-text {
  color: ghostwhite;
  font-family: Georgia, serif;
  transition: 0.3s;
}

#large-title .large-title-text {
  color: ghostwhite;
  font-family: Georgia, serif;
  transition: 0.3s;
}

@media only screen and (max-width: 800px) {
  #small-title .small-title-text {
    font-size: 40px;
    transition: 0.3s;
  }
  #large-title .large-title-text {
    font-size: 40px;
    transition: 0.3s;
  }
}
@media only screen and (max-height: 500px) {
  #small-title .small-title-text {
    font-size: 25px;
    transition: 0.3s;
  }
}

@media only screen and (max-width: 600px) {
  #small-title .small-title-text {
    font-size: 25px;
    transition: 0.3s;
  }
  #large-title .large-title-text {
    font-size: 40px;
    transition: 0.3s;
  }
}

#lets-get-started {
  height: 80px;
  width: 100%;
  background-color: #303030;
}
#lets-get-started .lets-get-started-text {
  color: whitesmoke;
  font-size: 20px;
  padding-top: 30px;
  margin-left: 10px;
}

.step-container .step-grid .step-title {
  margin: 20px;
}
.step-container .step-grid .step-text {
  margin: 20px;
}
